*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:50%;
    min-height: 50vh;
    background-color: rgb(173, 39, 12);
    margin:30vh auto;
}
h1{
    padding-top: 4vh;
    text-align: center;
    font-size:2vmax;
    color:aliceblue;
    font-weight: 600;
}
body{
    background-color: green;
}
.main{
    width:100%;
    display:flex;
    gap:1vw;
    margin-top: 10vh;
    padding-inline: 10vw;
}
.date{
    padding-inline: 2vw;
    padding-top: 2vh;
    color:black;
    font-size: 1.5vmax;
}
button{
    padding:1.5vh 1.5vw;
    border-radius: 6px;
    background-color: olivedrab;
    color:black;
    font-size: 1.5vmax;
}
p{
    text-align: center;
    font-size: 2vmax;
    color:white;
    padding-top:5vh;
    font-style: italic;
    font-weight: 600;
}
